h1 {
  color: red;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  color: #4a5565;
}
:root {
  --main-color: #ff5603;
  --margin12: 12px;
  --margin32: 32px;
  --fs14: 0.875rem;
  --lh20: 20px;
}
.fs14 {
  font-size: var(--fs14) !important;
}
.lh20 {
  line-height: var(--lh20) !important;
}
.m-12 {
  margin: var(--margin12) !important;
}
.mt-12 {
  margin-top: var(--margin12) !important;
}
.mb-12 {
  margin-bottom: var(--margin12) !important;
}
.me-12 {
  margin-right: var(--margin12) !important;
}
.ms-12 {
  margin-left: var(--margin12) !important;
}
.m-32 {
  margin: var(--margin32) !important;
}
.mt-32 {
  margin-top: var(--margin32) !important;
}
.mb-32 {
  margin-bottom: var(--margin32) !important;
}
.me-32 {
  margin-right: var(--margin32) !important;
}
.ms-32 {
  margin-left: var(--margin32) !important;
}
header .container {
  max-width: 1280px;
  .icon {
    width: 48px !important;
    height: 48px !important;
  }
  h1 {
    line-height: 32px;
  }
}
.icon {
  width: 40px;
  height: 40px;
}
.profile {
  width: 40px;
  height: 40px;
  border-color: var(--main-color) !important;
}
.bg-main {
  background-color: var(--main-color);
}
.txt-main {
  color: var(--main-color);
}
.bshad {
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 0.261);
}
header .nav-item {
  font-size: 20px;
  line-height: 28px;
}
header .nav-item a {
  transition: all 0.5s;
  &:hover {
    color: var(--main-color);
  }
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
main .container {
  padding: 32px 0;
}
.recipe {
  height: 750px;
}
main .left .review {
  top: 24px;
  left: 24px;
}
main .left .details {
  bottom: 24px;
  left: 24px;
  right: 24px;
  width: calc(100% - (2 * 24px));
}
main .right {
  overflow-y: scroll;
  padding: 40px;
  .top h3 {
    font-size: 36px;
    line-height: 40px;
  }
  .top p {
    font-size: 18px;
    line-height: 28px;
  }
}
main .right .level span {
  padding: 4px 12px;
  font-size: 12px;
  line-height: 16px;
}
main .top .icon {
  width: 40px;
  height: 40px;
  background-color: #ffd6a85f;
  color: var(--main-color);
  transition: all 0.2s;
  &:hover {
    background-color: #ffd7a8;
  }
}
.panel .tab-content {
  height: 350px;
  overflow-y: scroll;
}
.panel nav button {
  transition: all 0.2s;
  border: none !important; 
}

.panel nav button.nav-link {
    background-color: transparent !important;
}

.panel nav button:hover {
  color: #4a5565 !important;
}
.panel nav .btn-item {
  border-bottom: 2px solid #fff0;
}
.panel nav .btn-item:has(button.active) {
  color: var(--main-color) !important;
  border-bottom-color: var(--main-color);
}
.panel nav button.active {
  color: var(--main-color) !important;
  background-color: transparent !important; 
  border: none !important; 
}

.panel .tab-content .tab-pane:first-child {
  background-color: #fff8ec;
  .item {
    counter-increment: count;
  }
}
.my-count {
  position: relative;
  margin-top: 4px;
  width: 24px;
  height: 24px;
}
.instructions .item {
  counter-increment: insCpunt;
}
.my-count::after,
.instructions .icon::after {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}
.my-count::after {
  content: counter(count);
}
.instructions .icon::after {
  content: counter(insCpunt);
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}
.nutritions .content {
  display: grid;
  grid-template-columns: 1fr 1fr !important;
  gap: 16px !important;
}
.nutritions .item {
  background-color: #f9fafb;
  > span:last-child {
    font-size: 20px;
    line-height: 28px;
  }
}
main .bottom button {
  padding: 12px 24px;
  background-image: linear-gradient(
    to right,
    var(--main-color),
    oklch(63.7% 0.237 25.331)
  );
  transition: all 0.2s;
}
main .bottom button:hover {
  background-color: #ef3200;
  transform: scale(1.05);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #ffefdd71;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b42700;
}
