@media (max-width: 767px) {
  header .navbar-nav i,
  header .navbar-nav .profile {
    margin-right: 12px;
    margin-bottom: 16px;
  }
  header .navbar-nav span {
    display: inline-block !important;
    font-size: 16px;
    line-height: 24px;
  }
  .navbar-collapse {
    border-top: 1px solid #000;
    padding: 16px 0;
    margin-top: 16px;
  }
  .nutritions .content {
    display: grid;
    grid-template-columns: 1fr !important;
  }
  .panel .btn-item button {
    font-size: 12px;
    line-height: 16px;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .recipe .right h3 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .details {
    padding: 12px !important;
    i{
        font-size: 18px;
        line-height: 28px;
    }
  }
  .details .inner p:last-child{
    font-size: 14px;
    line-height: 20px;
    
  }
  .details .inner p:first-child{
    font-size: 12px ;
    line-height: 16px;
    font-weight: normal;
  }
}
@media (max-width: 991px) {
  .recipe {
    height: auto;
  }
  .recipe .left {
    height: 400px !important;
  }
  .recipe .right {
    overflow: visible;
    padding: 20px !important;
  }
}
